<div class="estadistica">
    <div class="etd__charts etd__section">
        <div class="etd__titulo">
            <div>
                <h4>CHARTS</h4>
            </div>
        </div>
        <div class="etd__content">
            
        </div>
    </div>
    <div class="etd__filtros etd__section">
        <div class="etd__titulo">
            <div>
                <h4>FILTROS</h4>
            </div>
        </div>
        <div class="etd__content">
            
        </div>
    </div>
    <div class="etd__graficos">
        
    </div>
</div>