<div class="bienvenido scrollbar">
    <div class="bvd__areas bvd__section">
        <H5>Áreas de trajo</H5>
         <div>
            <div>
                 <div class="area">
                     <a  [routerLink]="['/foods']"><img src="../../../assets/sidebar_logo/foods.png" alt="">
                     Platillos</a>
                 </div>
                 <div class="area">
                     <a  [routerLink]="['/orders']"><img src="../../../assets/sidebar_logo/orders.png" alt="">
                     Pedidos</a>
                 </div>
                 <div class="area">
                     <a  [routerLink]="['/statistics']"><img src="../../../assets/sidebar_logo/statistics.png" alt="">
                     Estadística</a>
                 </div>
                 <div class="area">
                     <a  [routerLink]="['/reports']"><img src="../../../assets/sidebar_logo/reports.png" alt="">
                     Reportes</a>
                 </div>
                 <div class="area">
                     <a  [routerLink]="['/restaurant']"><img src="../../../assets/sidebar_logo/restaurant.png" alt="">
                     Restaurant</a>
                 </div>
            </div>
         </div>
    </div>
    <div class="bvd__restaurante bvd__section">
        <h5>Datos del Restaurante</h5>
         <div>
             <div>
             <div class="bvd__fondo_img">
                 <span><i class="fas fa-camera"></i></span>
             </div>
             <div class="bvd__img">
                 <img src="../../../assets/logo_restaurant/horcon.png" alt="">
             </div>
             <div class="bvd__datos_restaurant">
                 <h1>Pizzería & Restaurante EL HORCÓN</h1>
                 <h4>955719894</h4>
                 <h4>Avenida Leon Velarde, 555</h4>
             </div>
         </div>
         </div>
    </div>
    <div class="bvd__usuario bvd__section">
        <h5>Datos del administrador</h5>
         <div>
             <div>
             <div class="bvd__fondo_img">
                 <span><i class="fas fa-user"></i></span>
             </div>
             <div class="bvd__img">
                <img src="../../../assets/perfil/face10.png" alt="">
            </div>
             <div class="bvd__datos_admin">
                 <h1>J.R. Junior Tenorio Dominguez</h1>
                 <h4>juniortenorio@gmail.com</h4>
             </div>
         </div>
         </div>
    </div>
</div>