<header>
    <div class="header_left">
        <div>
            <span id="btn__header_menu" (click)="playToggle()"><i class="fas fa-bars"></i></span>
        </div>
        <img src="../../../assets/logo_restaurant/horcon.png" alt="">
        <strong>Pizzería & Restaurant EL HORCÓN</strong>
    </div>
    <div class="header_right">
        <div>
            <span><i class="fas fa-user"></i></span>
        </div>
        <span>
            J.r. Junior Tenorio Dominguez
        </span>
    </div>
</header>