<div class="restaurant">
    <div class="rst__left">
        <div>
            <div><h4>Datos del Restaurant</h4></div>
        </div>
        <div class="rst__datos  scrollbar">
            <div class="formulario">
                <form action="">
                    <div class="formulario__section">
                        <div class="form__50">
                            <div class="formulario__img">
                                <div class="form__noImg">
                                    <label for="nopic">
                                        <div>
                                            <span><i class="fas fa-camera"></i></span>
                                        </div>
                                        <input id="nopic" type="file" >
                                    </label>
                                </div> 
                                <div class="form__siImg">
                                    <label for="sipic">
                                        <img src="../../../assets/perfil/face10.png" alt="">
                                        <input id="sipic" type="file" >
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form__50">
                            <div class="formulario__input">
                                <span>RUC</span>
                                <div>
                                    <input type="text" placeholder="20602370489">
                                </div>
                            </div>
                            <div class="formulario__textarea">
                                <span>Razón Social</span>
                                <div>
                                    <textarea name="" id="" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="formulario__textarea">
                                <span>Nombre Comercial</span>
                                <div>
                                    <textarea name="" id="" placeholder="Pizzería & Restaurant EL HORCÓN" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="formulario__input">
                                <span>Teléfono</span>
                                <div>
                                    <input type="text" placeholder="955719894">
                                </div>
                            </div>
                            <div class="formulario__input">
                                <span>Dirección</span>
                                <div>
                                    <input type="text" placeholder="Avenida Leon Velarde, 361">
                                </div>
                            </div>
                            <div class="formulario__input">
                                <span>Horario de atención</span>
                                <div>
                                    <input type="text" placeholder="Lunes a Domingo 9am - 4pm">
                                </div>
                            </div>
                            <div class="formulario__input">
                                <span>Correo Electrónico</span>
                                <div>
                                    <input type="text" placeholder="pizzeriaelhorcon@gmail.com">
                                </div>
                            </div>
                            <div class="formulario__botones">
                                <div class="boton__send">
                                    <button type="submit">Guardar</button>
                                </div>
                                <div class="boton__cancel">
                                    <button type="submit">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
    <div class="rst__right">
        
    </div>
</div>